
@charset "utf-8";
// Import google fonts
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Update the sans-serif font family
$family-sans-serif: "Crimson Text", serif;

$custom-colors: (
    "light-shade": ($light-shade, $dark-shade),
    "light-accent": ($light-accent, $dark-shade),
    "main-brand": ($main-brand, $light-shade),
    "dark-accent": ($dark-accent, $light-shade),
    "dark-shade": ($dark-shade, $light-shade),
    "scheme-primary": ($scheme-primary, $scheme-primary-invert),
    "scheme-secondary": ($scheme-secondary, $scheme-secondary-invert),
);

@import "../node_modules/bulma/sass/utilities/_all";

$colors: mergeColorMaps(("white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "primary": ($primary, $primary-invert), "link": ($link, $link-invert), "info": ($info, $info-invert), "success": ($success, $success-invert), "warning": ($warning, $warning-invert), "danger": ($danger, $danger-invert)), $custom-colors);
$shades: mergeColorMaps(("black-bis": $black-bis, "black-ter": $black-ter, "grey-darker": $grey-darker, "grey-dark": $grey-dark, "grey": $grey, "grey-light": $grey-light, "grey-lighter": $grey-lighter, "white-ter": $white-ter, "white-bis": $white-bis), $custom-shades);

@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";

// Extra stuff
html, body {
    height: 100%;
    overflow-y: auto;
}
svg.is-scheme-primary {
    fill: $scheme-primary-invert;
}
.navbar-item.title {
    margin: 0;
}
.content-title {
    border-bottom: 2px solid $scheme-secondary;
    display: inline-block;
}
.listen-title {
    border-bottom: 2px solid $scheme-secondary;

    & .title {
        display: inline-block;
        margin-bottom: 0;
    }
}
.is-removed {
    display: none;
}
.label {
    color: inherit!important;
}
#player-container {
    background-color: $scheme-primary;
    min-height: 100px;
}

// Amplitude stuff
progress.amplitude-song-played-progress {
    width: 100%;
    height: 15px;
    background-color: $light-shade;
    -webkit-appearance: none;
    display: block;
    margin-top: 15px;
    cursor: pointer;
    border: none;

    &:not([value]) {
        background-color: $light-shade;
    }

    &::-webkit-progress-bar {
        background-color: $light-shade;
    }

    &::-moz-progress-bar {
        background-color: $scheme-secondary;
    }

    &::-webkit-progress-value {
        background-color: $scheme-secondary;
    }
}

div.amplitude-play-pause {
    margin-top: 25px;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    box-sizing: border-box;
    border-color: transparent transparent transparent $scheme-secondary;

    transition: 100ms all ease;
    will-change: border-width;

    &.amplitude-paused {
        border-style: solid;
        border-width: 20px 0 20px 40px;
    }

    &.amplitude-playing {
        border-style: double;
        border-width: 0 0 0 20px;
    }
}
