$light-shade: #B9ADA9;
$light-accent: #656993;
$main-brand: #2C0047;
$dark-accent: #600;
$dark-shade: #1A141D;

// Set the other derived variables (these come from colourmind as well)
$primary: #2c0047;
$primary-invert: $light-shade;
$info: #19141d;
$info-invert: white;
$success: #427a4d;
$success-invert: white;
$warning: #c06a15;
$warning-invert: white;
$danger: #f44336;
$danger-invert: white;

// As the second colour of the scheme might be in different places depending on the theme, I'm gonna do this too
$scheme-primary: $main-brand;
$scheme-primary-invert: $light-shade;
$scheme-secondary: $dark-accent;
$scheme-secondary-invert: $light-shade;

@import "./_main.scss"
