{{template "layout" .}}

{{define "content"}}
<div class="hero-body">
  <section class="container has-text-centered">
    <h2 class="title is-scheme-primary content-title">
      {{.Story.Name}}
    </h2>
    {{range .Story.Description}}
    <p>{{.}}</p>
    {{end}}
  </section>
</div>

<div class="hero-foot">
  <section class="container has-text-centered">
    <p>Scroll Down To See The Episodes</p>
  </section>
</div>
{{end}}

{{define "longContent"}}
{{$story := .Story}}
{{$csrf := .CSRF}}
{{$isOwner := .IsOwner}}
{{range .Episodes}}
<hr class="has-background-scheme-secondary" />
<section class="container has-text-centered episode-container">
  <h3 class="title is-scheme-primary content-title">#{{.Number}} - {{.Name}}</h3>
  {{range .Description}}
  <p>{{.}}</p>
  {{end}}
  <a href="/episode/{{$story.ID}}/{{.Number}}/" class="button is-scheme-secondary">Listen</a>
  {{if $isOwner}}
  <form action="/episode/{{$story.ID}}/{{.Number}}/delete/" method="POST">{{$csrf}}<input type="submit" class="button is-danger" value="Delete Episode" /></form>
  {{end}}
</section>
{{end}}
{{end}}
