{{template "layout" .}}
{{define "content"}}
<section id="story-natural-void" class="container has-text-centered">
  <h2 class="title is-main-brand content-title">
    Natural Void
  </h2>
  <p>A D&amp;D podcast by the people of Exceptional Void, for the people of Exceptional Void.</p>
  <p>Come recount the tales of the stories recorded (almost) every week in our Discord server.</p>
  <p>*For now the episodes are only available to members, but we may be making them public at some stage regardless of the copyrighted music.</p>
</section>
<!-- Autogen -->
{{range .Stories}}
<section id="story-{{.Slug}}" class="container has-text-centered is-removed">
  <h2 class="title is-main-brand content-title">
    {{.Name}}
  </h2>
  {{range .Description}}
    <p>{{.}}</p>
  {{end}}
</section>
{{end}}
{{end}}
