{{template "layout" .}}
{{define "content"}}
<div class="hero-body">
  <section id="story-natural-void" class="container has-text-centered">
    <h2 class="title is-scheme-primary content-title">
      Natural Void
    </h2>
    <p>A D&amp;D podcast by the people of Exceptional Void, for the people of Exceptional Void.</p>
    <p>Come recount the tales of the stories recorded (almost) every week in our Discord server.</p>
    <p>*For now the episodes are only available to members, but we may be making them public at some stage regardless of the copyrighted music.</p>
  </section>
  {{range .Stories}}
  <section id="story-{{.Slug}}" class="container has-text-centered is-removed">
    <h2 class="title is-scheme-primary content-title">
      {{.Name}}
    </h2>
    {{range .Description}}
      <p>{{.}}</p>
    {{end}}
    <a href="/story/{{.ID}}/" class="button is-scheme-secondary">Episodes</a>
  </section>
  {{end}}
</div>

<div class="hero-foot">
  <nav class="tabs is-boxed is-fullwidth">
    <div class="container">
      <ul>
        <li class="is-active">
          <a href="#natural-void" data-target="story-natural-void">Natural Void</a>
        </li>
        {{range .Stories}}
        <li>
          <a href="#{{.Slug}}" data-target="story-{{.Slug}}">{{.ShortName}}</a>
        </li>
        {{end}}
      </ul>
    </div>
  </nav>
</div>
{{end}}

{{define "js"}}
<script defer src="/static/js/index.js"></script>
{{end}}
