{{template "layout" .}}

{{define "content"}}
<div class="hero-body">
  <section class="container">
    <div class="is-scheme-primary listen-title">
      <h2 class="title">{{.Episode.Name}}</h2>
    </div>
    <p class="is-pulled-right">Episode #{{.Episode.Number}} of {{.Story.ShortName}}</p>
    <div id="player-container" data-episode-id="{{.Episode.ID}}"></div>
    {{range .Episode.Description}}
    <p>{{.}}</p>
    {{end}}
  </section>
</div>

<!-- Use the foot to display prev and next episodes (if available) -->
{{end}}

{{define "js"}}
<script src="/static/js/listen.js"></script>
{{end}}
