{{template "layout" .}}

{{define "content"}}
<div class="hero-body">
  <section class="container">
    <div class="is-scheme-primary listen-title">
      <h2 class="title">{{.Episode.Name}}</h2>
      <p>Episode #{{.Episode.Number}} of {{.Story.ShortName}}</p>
    </div>
    <div id="player-container" data-episode-id="{{.Episode.ID}}" class="has-text-centered">
      <progress class="amplitude-song-played-progress" amplitude-main-song-played-progress="true" id="song-played-progress"></progress>
      <span class="is-pulled-left current-time">
        <span class="amplitude-current-hours" amplitude-main-current-hours="true"></span>:<span class="amplitude-current-minutes" amplitude-main-current-minutes="true"></span>:<span class="amplitude-current-seconds" amplitude-main-current-seconds="true"></span>
      </span>
      <span class="duration is-pulled-right">
        <span class="amplitude-duration-hours" amplitude-main-duration-hours="true"></span>:<span class="amplitude-duration-minutes" amplitude-main-duration-minutes="true"></span>:<span class="amplitude-duration-seconds" amplitude-main-duration-seconds="true"></span>
      </span>
      <div class="control-container">
        <div class="amplitude-play-pause amplitude-paused" amplitude-main-play-pause="true" id="play-pause"></div>
      </div>
    </div>
    {{range .Episode.Description}}
    <p>{{.}}</p>
    {{end}}
  </section>
</div>

<div class="hero-foot">
  <nav class="tabs is-boxed is-fullwidth episodes">
    <div class="container">
      <ul>
        {{if .Prev.ID}}
        <li>
          <a href="/listen/{{.Story.ID}}/{{.Prev.Number}}/">Prev<span class="is-hidden-touch">: {{.Prev.Name}}</span></a>
        </li>
        {{else}}
        <li class="is-hidden-touch">
          <a href="#">Prev: None</a>
        </li>
        {{end}}
        <li class="is-active">
          <a href="#">Current: {{.Episode.Name}}</a>
        </li>
        {{if .Next.ID}}
        <li>
          <a href="/listen/{{.Story.ID}}/{{.Next.Number}}/">Next<span class="is-hidden-touch">: {{.Next.Name}}</span></a>
        </li>
        {{else}}
        <li class="is-hidden-touch">
          <a href="#">Next: None</a>
        </li>
        {{end}}
      </ul>
    </div>
  </nav>
</div>
{{end}}

{{define "js"}}
<script defer src="/static/js/listen.js"></script>
{{end}}
