{{template "layout" .}}

{{define "content"}}
<div class="hero-body">
  <section class="container">
    <div class="is-scheme-primary listen-title">
      <h2 class="title">{{.Episode.Name}}</h2>
      <p>Episode #{{.Episode.Number}} of {{.Story.ShortName}}</p>
    </div>
    <div id="player-container" data-episode-id="{{.Episode.ID}}" class="has-text-centered">
      <progress class="amplitude-song-played-progress" amplitude-main-song-played-progress="true" id="song-played-progress" value="10" max="100"></progress>
    </div>
    {{range .Episode.Description}}
    <p>{{.}}</p>
    {{end}}
  </section>
</div>

<!-- Use the foot to display prev and next episodes (if available) -->
{{end}}

{{define "js"}}
<script src="/static/js/listen.js"></script>
{{end}}
