{
  "short_name": "Natural Void",
  "name": "Natural Void",
  "icons": [{
    "src": "/static/img/logo.svg",
    "type": "image/svg",
    "sizes": "any"
  }],
  "start_url": "/?source=pwa",
  "background_color": "{{.Theme}}",
  "display": "standalone",
  "scope": "/",
  "theme_color": "{{.Theme}}"
}
