{{template "layout" .}}
{{define "content"}}
<div class="hero-body">
  <section class="container has-text-centered">
    <h2 class="title is-scheme-primary content-title">
      Upload an Episode
    </h2>
    <div class="columns">
      <div class="column"></div>
      <div class="column is-half">
        <form method="POST" action=".">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="name">Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="text" name="name" value="{{.Name}}" id="name" />
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="story">Story</label>
            </div>
            <div class="field-body">
              <div class="field is-expanded">
                <div class="control">
                  <div class="select">
                    <select name="story" id="story">
                      {{range .Stories}}
                      <option value="{{.ID}}">{{.Name}}</option>
                      {{end}}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="description">Description</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" name="description" id="description" value="{{.Description}}" placeholder="Describe the episode in a few sentences."></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="file">File</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="file has-name is-fullwidth">
                    <label class="file-label">
                      <input class="file-input" type="file" name="file" id="file">
                      <span class="file-cta">
                        <span class="file-label">
                          Choose a file…
                        </span>
                      </span>
                      <span class="file-name" id="file-name">
                        None
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <input type="submit" class="button is-scheme-secondary" />
            </div>
          </div>
        </form>
      </div>
      <div class="column"></div>
    </div>
  </section>
</div>
{{end}}

{{define "js"}}
<script defer src="/static/js/upload.js"></script>
{{end}}
